        body {
            background-image: linear-gradient(to right, #3a3a3a, #5d5d5d, #838383, #aaaaaa, #d4d4d4);
            text-align: center;
        }
        h1 {
            font-size: 1.5cm;
            font-family: 'Times New Roman', Times, serif;
            text-align: center;
            margin-top: 40px;
            text-shadow: 4px 4px 4px rgba(0,0,0,0.5);
        }
        p {
            line-height: 1.5;
            font-family: 'Times New Roman', Times, serif;
            border-style: solid;
            border-width: 5px;
            border-color: black;
            border-radius: 20px;
            padding: 5px;
            text-align: center;
        }
        a {
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        img {
            border-radius: 50%;
            width: 200px;
            height: 200px;
            object-fit: cover;
        }
